@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg{
    background-image: url(./cloud2.jpg);
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: center;
    height: 100vh;

} */